@import '../../common/css/variables.css';

.card {
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: var(--card-radius);
    background: var(--black-medium);
    font-family: var(--default-font);

    .cardTop {
        display: block;
        box-sizing: border-box;
        border: 2px solid var(--black-medium);
        border-radius: var(--card-radius);
        padding: 0.75em 1.5em;
        color: var(--black-medium);
        transform: translateY(-0.2em);
        transition: transform 0.1s ease;
        padding: 20px 30px;
        text-align: center;

        &.logo {
            background: var(--blue-medium);
            color: #e6e8ef;
            font-size: 14px;
            text-shadow: 0 2px var(--black-medium);
            padding: 0;
            display: flex;
            transform: translateY(-0.33em);

            img {
                object-fit: contain;
                width: 40px;
            }

            h1 {
                margin: 8px 0;
            }
        }

        &.option {
            background-color: var(--coral-light);
        }

        &.planetOption {
            background-color: var(--coral-light);
            padding: 0;
            display: flex;
        }

        &.dayHeader {
            background: var(--coral-dark);
            padding: 20px 6px;
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &.task {
            background: var(--coral-medium);
            cursor: grab;
            padding: 12px 10px;
        }

    }

    &:hover {
        .cardTop {
            transform: translateY(-0.33em);

            &.logo {
                transform: translateY(-0.50em);
            }

            &.option {
                background: var(--coral-medium);
            }

            &.task {
                background: var(--coral-dark);
            }

            & div span {
                transform: translateY(-0.33em);
            }
        }
    }

    &:active {
        &.task {
            cursor: grabbing;
            transform: translateY(-0.18em);
        }

        .cardTop {
            &:not(.dayHeader, .task) {
                transform: translateY(0);
            }

            &.task {
                cursor: grabbing;
                transform: translateY(-0.24em);
                & div span {
                    transform: translateY(-0.24em);
                }
            }
        }
    }
}

:global(.active) {
    :local(span.option) {
        background: var(--coral-medium) !important;
    }
}