.cardFooter {
    display: flex;
    justify-content: space-around;
    padding: 0;
    position: absolute;
    width: 100%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100%;

}
.task {
    margin-top: 6px;
}

.dayHeader {
    top: 54px;
}