@import '../../common/css/variables.css';

.miniCard {
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: var(--card-radius);
    background: var(--black-medium);
    font-family: var(--default-font);
}

.miniCardTop {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--black-medium);
    border-radius: var(--card-radius);
    padding: 0.75em 1.5em;
    color: var(--black-medium);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
    padding: 0 4px;
    text-align: center;
}

.star {
    background: var(--yellow-medium);
}

.box {
    background: var(--coral-light);
}

.button {
    background: var(--coral-dark);
}

.miniCard:hover .miniCardTop {
    transform: translateY(-0.33em);
}

.miniCard:active .miniCardTop {
    transform: translateY(0);
}

.miniCardStar {
    position: absolute;
    top: -18px;
    text-align: center;
    img {
        height: 64px;
        width: auto;
    }
    & p {
        position: absolute;
        top: -3.5px;
        left: 0;
        right: 0;
        margin-left: auto; 
        margin-right: auto; 
    }
}

.miniCardButton {
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: var(--card-radius);
    background: var(--black-medium);
    font-family: var(--default-font);
    width: 50px;
    cursor: pointer;
}

.miniCardButton:hover .miniCardTop {
    transform: translateY(-0.33em);
}

.miniCardButton:active .miniCardTop {
    transform: translateY(0);
}