@import '../../common/css/variables.css';

.overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #f09a82, $alpha: 0.5);
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 1000;
}

.modalOpened {
    // position: absolute;
}

.modalClosed {
    display: none;
}

.modal {
    z-index: 100000;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    & h3 {
        margin: 0 0 20px 0;
        padding: 0;
    }
}