:global {
    @import './common/css/variables.css';

    body {
        height: 100vh;
        margin: 0;
        background-color: var(--coral-light);
        font-family: var(--default-font-medium);
        font-weight: normal;
        font-style: normal;
        color: var(--black-medium);
    }

    ul,
    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
    }

    #root {
        width: 100%;
        height: 100%;
    }

}

.app {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 64px 1fr;
    grid-template-areas:
        'sidebar main'
        'sidebar main';
    width: 100%;
    height: 100%;
}

.retracted {
    grid-template-columns: 1fr;
    grid-template-areas:
        "main"
        "main"
        "main";
}

.defaultLayout {
    display: flex;
    width: 100%;
    height: 100%;
}

main.main {
    grid-area: main;
    width: 100%;
    height: 100%;
}

main.defaultMain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}