@import './common/css/variables.css';
:global {

    body {
        height: 100vh;
        margin: 0;
        background-color: var(--coral-light);
        font-family: var(--default-font-medium);
        font-weight: normal;
        font-style: normal;
        color: var(--black-medium);
    }

    ul,
    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
    }

    #root {
        width: 100%;
        height: 100%;
    }

    .cardStyle {
        font-size: 20px;
        font-weight: bold;
        border: none;
        border-radius: var(--card-radius);
        background: var(--black-medium);
        font-family: var(--default-font);
    }

    .cardStyleHover {
        font-size: 20px;
        font-weight: bold;
        border: none;
        border-radius: var(--card-radius);
        background: var(--black-medium);
        font-family: var(--default-font);
    }

    .cardStyleTop {
        display: block;
        box-sizing: border-box;
        border: 2px solid var(--black-medium);
        border-radius: var(--card-radius);
        padding: 0.75em 1.5em;
        color: var(--black-medium);
        transform: translateY(-0.2em);
        transition: transform 0.1s ease;
        padding: 20px 30px;
        text-align: center;
        background: var(--coral-light);
    }

    .input {
        border-radius: 4px;
        border: 2px solid #464651;
        padding: 8px 10px;
        font-family: 'Averia Libre';
        margin-top: 8px;
        color: #464651;
        box-shadow: 0px -3px #464651;
        background-color: #f0c8ac;
        font-size: 18px;
    }

    button {
        background: none;
        border: none;
        padding-top: 12px;
    }

    .loading {
        pointer-events: none;
        opacity: 0.7;
    }

}

.app {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 64px 1fr;
    grid-template-areas:
        'sidebar main'
        'sidebar main';
    width: 100%;
    height: 100%;
}

.retracted {
    grid-template-columns: 1fr;
    grid-template-areas:
        "main"
        "main"
        "main";
}

.defaultLayout {
    display: flex;
    width: 100%;
    height: 100%;
}

main.main {
    grid-area: main;
    width: 100%;
    height: 100%;
}

main.defaultMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}